<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
<div id="header-wrapper">

  <div id="header" class="container">

    <div id="logo">

      <h1><a routerLink="Hem">CSGO top 10</a></h1>

    </div>

    <div id="menu">

      <ul>

        <li><a routerLink="Hem" routerLinkActive="active">Hem</a></li>

        <li><a routerLink="Lag" routerLinkActive="active">Lag</a></li>

        <li><a routerLink="Spelare" routerLinkActive="active">Spelare</a></li>

        <li><a routerLink="login" routerLinkActive="active">Logga in</a></li>

      </ul>

    </div>

  </div>

</div>
