
<div class="boxen">

<div class="smallbox">
  <div >
    <img class="bilder" src="../assets/Karl2.png" alt="Karl">
  </div>
  <div class="text">
    <h2>Karl Nilros</h2>
    <h3>kn222kb@student.lnu.se</h3>
    <br/> <br/> <br/>
    <p>En gör go kille från Mampan som gillar att crossfitta och hålla banan på infan</p>
  </div>
</div>


  <div class="smallbox">
    <div >
      <img class="bilder" src="../assets/Jacob.jpg" alt="Jacob">
    </div>
    <div class="text">
      <h2>Jacob Fridebo</h2>
      <h3>jf222vt@student.lnu.se</h3>
      <br/> <br/> <br/>
      <p>En gör go kille från Mampan som gillar att crossfitta och hålla banan på infan</p>
    </div>
  </div>


  <div class="smallbox">
    <div >
      <img class="bilder" src="../assets/Philip.jpg" alt="Philip">
    </div>
    <div class="text">
      <h2>Philip Björklund</h2>
      <h3>pb?????@student.lnu.se</h3>
      <br/> <br/> <br/>
      <p>En gör go kille från Mampan som gillar att crossfitta och hålla banan på infan</p>
    </div>
  </div>

</div>
