
<div class="boxen">

<div class="smallbox">
  <div >
  <img class="spelarBild" src="../assets/simple.png" alt="">
  </div>
  <div class="spelartext">
    <h2>Ranking: 1</h2>
    <h2>Aleksandr "s1mple" Kostyliev</h2> <br>
    <p>Land: Ukraina</p>
    <p>Lag: Natus Vincere</p>
  </div>
</div>

  <div class="smallbox">
    <div >
      <img class="spelarBild" src="../assets/device.png" alt="">
    </div>
    <div class="spelartext">
      <h2>Ranking: 2</h2>
      <h2>Nicolai "dev1ce" Reedtz</h2> <br>
      <p>Land: Danmark</p>
      <p>Lag: Astralis</p>
    </div>
  </div>

  <div class="smallbox">
    <div >
      <img class="spelarBild" src="../assets/niko.png" alt="">
    </div>
    <div class="spelartext">
      <h2>Ranking: 3</h2>
      <h2>Nikola "NiKo" Kovač</h2> <br>
      <p>Land: Bosnien och Hercegovina</p>
      <p>Lag: Faze Clan</p>
    </div>
  </div>

  <div class="smallbox">
    <div >
      <img class="spelarBild" src="../assets/electronic.png" alt="">
    </div>
    <div class="spelartext">
      <h2>Ranking: 4</h2>
      <h2>Denis "electronic" Sharipov</h2> <br>
      <p>Land: Ryssland</p>
      <p>Lag: Natus Vincere</p>
    </div>
  </div>

  <div class="smallbox">
    <div >
      <img class="spelarBild" src="../assets/dupreeh.png" alt="">
    </div>
    <div class="spelartext">
      <h2>Ranking: 5</h2>
      <h2>Peter "dupreeh" Rasmussen</h2> <br>
      <p>Land: Danmark</p>
      <p>Lag: Astralis</p>
    </div>
  </div>

  <div class="smallbox">
    <div >
      <img class="spelarBild" src="../assets/naf.png" alt="">
    </div>
    <div class="spelartext">
      <h2>Ranking: 6</h2>
      <h2>Keith "NAF" Markovic</h2> <br>
      <p>Land: Kanada</p>
      <p>Lag: Team Liquid</p>
    </div>
  </div>

  <div class="smallbox">
    <div >
      <img class="spelarBild" src="../assets/magisk.png" alt="">
    </div>
    <div class="spelartext">
      <h2>Ranking: 7</h2>
      <h2>Emil "Magisk" Reif</h2> <br>
      <p>Land: Danmark</p>
      <p>Lag: Astralis</p>
    </div>
  </div>

  <div class="smallbox">
    <div >
      <img class="spelarBild" src="../assets/glaive.png" alt="">
    </div>
    <div class="spelartext">
      <h2>Ranking: 8</h2>
      <h2>Lukas "gla1ve" Rossander</h2> <br>
      <p>Land: Danmark</p>
      <p>Lag: Astralis</p>
    </div>
  </div>

  <div class="smallbox">
    <div >
      <img class="spelarBild" src="../assets/krimz.png" alt="">
    </div>
    <div class="spelartext">
      <h2>Ranking: 9</h2>
      <h2>Freddy "KRIMZ" Johansson</h2> <br>
      <p>Land: Sverige</p>
      <p>Lag: Fnatic</p>
    </div>
  </div>

  <div class="smallbox">
    <div >
      <img class="spelarBild" src="../assets/coldzera.png" alt="">
    </div>
    <div class="spelartext">
      <h2>Ranking: 10</h2>
      <h2>Marcelo "coldzera" David</h2> <br>
      <p>Land: Brazilen</p>
      <p>Lag: MIBR</p>
    </div>
  </div>

</div>
